table(class="table table-responsive-sm mb-5")
	thead
		tr
			th Public Key
			th Address
			th Last Update
			th Channels
			th Capacity
			th Description
	
	tbody
		each nodeInfo, index in nodeInfos
			include ./node-table-row.pug