table(class="table table-responsive-sm mb-5")
	thead
		tr
			th Public Key
			th Description
			th Address
			th Last Update
			th(class="text-right") Channels
			th(class="text-right") Capacity
	
	tbody
		each nodeInfo, index in nodeInfos
			include ./node-table-row.pug