extends layout

block headContent
	title Node Status
	
block content
	h1(class="h2") Node Status
	hr

	if (!getInfo && !listPeers)
		div(class="alert alert-danger") No data available. Check your RPC connection.
	
	if (getInfo)
		pre
			code #{JSON.stringify(getInfo, null, 4)}

	if (listPeers)
		pre
			code #{JSON.stringify(listPeers, null, 4)}